


body{
    background-color: #FAFAF5;
}

.cursive-font{
    font-family: 'Cedarville Cursive', cursive;
}
nav{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background-color:#f1f1ea ;
}
nav a{
    margin: 0 1rem;

}